extends includes/layout

block headlink
  title 编码

block content
  div(class='container')
    div(class='table-responsive')
      table(class='table table-striped table-bordered table-hover')
        thead
          tr
            th 序号
            th 名称
            th 年份
            th 国家
            th 评论数
            th 返回
        tbody
          tr
            td= play[id-1].id
            td= play[id-1].name
            td= play[id-1].year
            td= (play[id-1].country == 1?"美国":"韩国")
            td= play[id-1].comment
            td
              a(role="button", href="/play/" + id, class="btn btn-primary")
                | 返回
      hr
      table(class='table table-striped table-bordered table-hover')
        thead
          tr
            th 序号
            th 姓名
            th 打分
            th 有用
            th 评论
            th C1
            th C2
            th C3
            th C4
            th C5
            th C6
            th C7
            th C8
            th C9
            th C10
            th C11
            th C12
        tbody
          - for (var i=0;i<comment.length;i++)
            if comment[i].showid == id && comment[i].commentid == commentid
              tr
                td= commentid
                td= comment[i].name
                td= comment[i].score
                td= comment[i].usefulness
                td= comment[i].text
                td(id='c1')= comment[i].C1
                td(id='c2')= comment[i].C2
                td(id='c3')= comment[i].C3
                td(id='c4')= comment[i].C4
                td(id='c5')= comment[i].C5
                td(id='c6')= comment[i].C6
                td(id='c7')= comment[i].C7
                td(id='c8')= comment[i].C8
                td(id='c9')= comment[i].C9
                td(id='c10')= comment[i].C10
                td(id='c11')= comment[i].C11
                td(id='c12')= comment[i].C12
    h3(id='prob')
    p(id='hint')
    p(id='choice')
  
  - var url = '/comment/' + id + '/' + commentid
  script(type='text/javascript').
    var now = 12;
    var c12 = 0;
    if ($("#c12").text() != "") c12 = parseInt($("#c12").text())
    var words = [
      "",
      "C1.身体特征，包括：外貌、穿着、身材、声音、气质（只讨论外形、声音等身体特征） 1=不认可(J) 2=没提及(K) 3=认可(L)",
      "C2.角色称谓（提到男主女主、男一女一的类似称谓编为3） 1=没提及(J) 2=演员名(K) 3=角色名(L)",
      "C3.当成认识的人（评论者有没有把涉当做认识的人） 1=没有(J) 2=昵称(K) 3=喊话(L)",
      "C4.对角色的认同，是否对所谈论主要角色（心理/行为）表示认同 1=不认同(J) 2=没提及(K) 3=认同(L)",
      "C5.角色成败（评论者对角色成败的态度，包括角色事业、爱情、国仇家恨等结果的期待） 1=希望失败(J) 2=没提及(K) 3=希望成功(L)",
      "C6.希望成为或拥有特征（是否对想要成为某个角色或拥有某个角色的特征） 1=不希望(J) 2=未提及(K) 3=希望(L)",
      "C7.认同理解剧情发展（能否认同/理解剧情的发展） 1=不能(J) 2=能(K)",
      "C8.因剧情触动情绪(是否会因为剧情内容本身而触动某种情绪——提到剧情且同时提到情绪) 1=没有(J) 2=有(K)",
      "C9.因剧情联想到生活（本评论者有没有从剧情内容而联想到现实生活） 1=没有(J) 2=有(K)",
      "C10.想知道剧情发展（本评论者是否想知道后面剧情的发展） 1=没有(J) 2=有(K)",
      "C11.情感类型（一条短评的主要情感表达类型最主要的依据是整体语义，并非某种情感的词汇或句子数量。） 0=没有表达(H) 1=满意-高兴(J) 2=厌恶-恐惧(K) 3=强硬-愤怒(L) 4=失望-悲伤(;)",
      "C12.情感频次（主要考察目标短评中有多少个分句表达了情感。） 0(H) 1(J) 2(K) 3(L) 4(;) +1(U)",
      "请确认后提交",
    ];
    var hints = [
      "",
      "",
      "",
      "昵称是指使用角色或演员的非本命进行描述，或者加上“大叔”、“欧巴”等成称谓。<br />喊话是使用第二人称“你”，对某角色或演员提出建议或要求。",
      "站在角色的角度，包括其处境、社会关系等特征联系剧情进行分析评论，注意：对角色外形的评价、喜欢/讨厌等某种态度不属于认同/不认同的范畴，这里的认同是能够度角色的行为、情感、经历有很好的理解，且分析不是重点。表示式有“我能理解…”、“***让我想到自己…”、“我想***的***行为…”",
      "",
      "本题主要考察受众的憧憬式认同，变现为“想要成为和***一样的人”、“想要拥有***的某种外貌/技能”，或者拥有某物品等",
      "主要涉及的讨论的对象为剧情和编剧，认同/理解通过直接表述或比较、分析等方式间接表示“好故事”或者“不能理解”、“不能接受”、“出戏”等，若对故事整体评价是正面，则可忽略其中较少的负面评价",
      "在评论中描述有剧情/故事本身所触发的某种情感，不包括由角色而引发的情感，表述方式主要为“…情节让我感到…”",
      "联想到现实包括联想到自身经历和其他现实问题两种。主要表述为“让我想到自己…”，或者直接阐述某个现实问题。",
      "急于知道后续发展的常常表述为“一口气看完”、“坐等下一季”等急迫、期待的情绪。",
      "0：没有情感表达<br />1：满意-高兴的具体情感描述：满意、满怀希望、平静、感激、雀跃、轻快、友好、和蔼可亲、享受、快乐、幸福、狂喜、喜悦、欢乐、得意、欣喜、高兴<br />2：厌恶-恐惧的具体情感描述：利害、犹豫、勉强、羞愧、疑惧、颤抖、焦虑、神圣、惊恐、失去勇气、恐慌、恐怖、惊悚、高度恐惧<br />3：强硬-愤怒的具体情感描述：苦恼、激动、动怒、恼火、不安、烦恼、怨恨、不满、冒犯、挫败、气急败坏、敌意、愤怒、憎恶、仇恨、生气、嫌恶、讨厌、厌恶、愤怒、轻视、憎恨、火冒三丈、愤怒。狂怒、勃然大怒、义愤填膺<br />4：失望-悲伤的具体情感描述：气馁、伤悲、感伤、沮丧、悲伤、伤心、阴郁、宿命论、忧伤、悲痛、悲怜、悲苦、痛苦、悲哀、苦闷、闷闷不乐、垂头丧气",
      "分句是指由分隔标点符号分开的文字或文字组合，这些标点符号包括句号、感叹号、问号、逗号、分号、冒号、破折号、省略号（……）。<br />多个分隔标点连用，如 “这部剧的烂笔之处就是join和 joc kiss的那部分！！完全不能接受！！” 表示两个分句，而非4个。<br />如果短评中出现排比句，且整体表达一个意义，则将这组排比句看做一次情感表达。每个分句中，若包含4种基本情感类型、表情符号、脏话或谩骂、人身攻击等都计为一次情感表达。",
      "请确认后提交",
    ];
    var fresh = function() {
      if (1<=now && now<=13) {
        str = words[now].split(" ");
        $("#prob").text(str[0]);
        $("#hint").html(hints[now]);
        var cho = "";
        for (var i=1;i<str.length;i++) {
          cho += str[i] + "&nbsp;&nbsp;&nbsp;&nbsp;";
        }
        cho += "上一题(A)&nbsp;&nbsp;&nbsp;&nbsp;下一题(S)&nbsp;&nbsp;&nbsp;&nbsp;上一条(W)&nbsp;&nbsp;&nbsp;&nbsp;提交(F)";
        $("#choice").html(cho);
      }
      for (var i=1;i<=12;i++) {
        $("#c" + i).removeClass("info");
      }
      if (1<=now && now<=12) {
        $("#c" + now).addClass("info");
      }
    };
    var submit = function() {
      for (var i=1;i<=12;i++) {
        st = "#c" + i;
        if ($(st).text() == "") {
          alert("还没全做完，不能提交！");
          return;
        }
      }
      $.ajax({
        url: "#{url}",
        data: {C1: $("#c1").text(), C2: $("#c2").text(), C3: $("#c3").text(), C4: $("#c4").text(),
               C5: $("#c5").text(), C6: $("#c6").text(), C7: $("#c7").text(), C8: $("#c8").text(),
               C9: $("#c9").text(), C10: $("#c10").text(), C11: $("#c11").text(), C12: $("#c12").text()},
        type: "POST",
        dataType: "json",
        success: function(m) {
          $(location).attr('href', m.url);
        },
        error: function(xhr, status, errorThrown) {
        },
      });
    };
    $(document).keypress(function(e) {
      switch (e.which) {
        case 104:
          if (1<=now && now<=11) {
            $("#c" + now).text("0");
            now++;
          }
          else if (now == 12) {
            c12 = 0;
            $("#c12").text(c12);
          }
          break;
        case 106:
          if (1<=now && now<=11) {
            $("#c" + now).text("1");
            now++;
          }
          else if (now == 12) {
            c12 = 1;
            $("#c12").text(c12);
          }
          break;
        case 107:
          if (1<=now && now<=11) {
            $("#c" + now).text("2");
            now++;
          }
          else if (now == 12) {
            c12 = 2;
            $("#c12").text(c12);
          }
          break;
        case 108:
          if (1<=now && now<=11) {
            $("#c" + now).text("3");
            now++;
          }
          else if (now == 12) {
            c12 = 3;
            $("#c12").text(c12);
          }
          break;
        case 59:
          if (1<=now && now<=11) {
            $("#c" + now).text("4");
            now++;
          }
          else if (now == 12) {
            c12 = 4;
            $("#c12").text(c12);
          }
          break;
        case 117:
          if (now == 12) {
            c12++;
            $("#c12").text(c12);
          }
          break;
        case 97:
          if (1<now && now<=13) now = now - 1;
          break;
        case 115:
          if (1<=now && now<13) now = now + 1;
          break;
        case 102:
          submit();
          break;
        case 49:
          now = 1;
          break;
        case 50:
          now = 2;
          break;
        case 51:
          now = 3;
          break;
        case 52:
          now = 4;
          break;
        case 53:
          now = 5;
          break;
        case 54:
          now = 6;
          break;
        case 55:
          now = 7;
          break;
        case 56:
          now = 8;
          break;
        case 57:
          now = 9;
          break;
        case 48:
          now = 10;
          break;
        case 45:
          now = 11;
          break;
        case 61:
          now = 12;
          break;
        case 119:
          $(location).attr('href', "/comment/#{id}/#{commentid>1?commentid-1:1}");
          break;
      };
      fresh();
    });
    fresh();
