extends includes/layout

block headlink
  title 编码

block content
  div(class='container')
    p
      a(href="/general.xlsx", target="_blank")
        h3 总表下载（单击下载）
    p
      a(href="/individual.csv", target="_blank")
        h3 个表下载（右键，链接存储为，再用Excel另存为xlsx格式）
    hr
    div(class='table-responsive')
      table(class='table table-striped table-bordered table-hover')
        tbody
          tr
            - for (var i=20;i<play.length;i+=20)
              td
                a(href="#p" + i)
                  = i
      hr
      table(class='table table-striped table-bordered table-hover')
        thead
          tr
            th 序号
            th 名称
            th 年份
            th 国家
            th 评论数
            - all = 0
            - a = 0
            - b = 0
            - for (var i=0;i<play.length;i++)
              - all += 1
              if (play[i].finished > 0)
                - a += 1
              if (play[i].finished == 40)
                - b += 1
            th 已完成( #{b} / #{a} / #{all} )
            th 总数
            th 网址
            th 返回
        tbody
          - for (var i=0;i<play.length;i++)
            tr
              td(id="p" + play[i].id, name="p" + play[i].id)= play[i].id
              td(class=play[i].planned==1?"info":"")
                a(href="/play/" + play[i].id)
                  = play[i].name
              td= play[i].year
              td= (play[i].country == 1?"美国":"韩国")
              td= play[i].comment
              td(class=play[i].finished==play[i].total?"success":(play[i].finished==0?"warning":"danger"))= play[i].finished
              td= play[i].total
              td
                a(href=play[i].url, target='_blank')
                  = play[i].url
              td
                a(href="#top") 回顶部
